/* Defaults */
:root {
  --font-family: -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
  --theme-transition-duration: 0.2s;
}

/* Theme colors */
:root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #333;

    --primary-color: rgb(211, 80, 161);
    --background-color: #fff;

    --text-color: var(--color-gray-90);
    --text-color-link: #082840;
    --text-color-link-visited: #949494;
    --link-border-style: dashed;
}

html[data-theme="DARK"] {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #C0C0C0;
  --color-gray-90: #d3d3d3;

  --primary-color: rgb(227, 107, 181);
  --background-color: #1c1d22;

  --text-color: var(--color-gray-90);
  --text-color-link: #c8c8d1;
  --text-color-link-visited: #6F6F71;
  --link-border-style: solid;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #dad8d8;

    --primary-color: rgb(227, 107, 181);
    --background-color: #1c1d22;

    --text-color: var(--color-gray-90);
    --text-color-link: #bdbdfa;
    --text-color-link-visited: #6F7071;
    --link-border-style: solid;

  }

  html[data-theme="LIGHT"] {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #333;

    --primary-color: rgb(211, 80, 161);
    --background-color: #fff;

    --text-color: var(--color-gray-90);
    --text-color-link: #082840;
    --text-color-link-visited: #949494;
    --link-border-style: dashed;
  }
}


/* Global stylesheet */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100%;
  transition: color var(--theme-transition-duration) ease, background var(--theme-transition-duration) ease;
}

body {
  padding: 0.25em 4em;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li {
  line-height: 1.45;
}

main {
  max-width: 37.5em;
  margin: auto;
}

main>* {
  margin-top: 3.5em;
}

main>*:last-child {
  margin-bottom: 3.5em;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

code {
  word-break: break-all;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--color-gray-90);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em;
  /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em;
  /* 1px 4px /12 */
  margin-left: 0.6666666666667em;
  /* 8px /12 */
  margin-top: 0.5em;
  /* 6px /12 */
  margin-bottom: 0.5em;
  /* 6px /12 */
  color: var(--color-gray-90);
  border: 1px solid var(--color-gray-50);
  border-radius: 0.25em;
  /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

a[href].post-tag:hover,
a[href].post-tag:focus-visible {
  background-color: var(--color-gray-20);
}

.postlist-item>.post-tag {
  align-self: center;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

/* This will ensure things are NOT removed from the AX tree.
We need to keep their semantics around to make sure interaction
works as expected. However, for the sake of more powerful styling,
we will need to hide them. 
https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2 {
  margin-bottom: 0.3em;
}

p:not(:last-child) {
  margin-bottom: 0.5em;
}