header {
    border-bottom: 1px solid var(--color-gray-20);
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr fit-content(30%);
    align-items: center;
    margin: auto;
    max-width: 37.5em;
    padding: 0.5em 0;
}

/* Nav */
.nav {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 1em;
}

.nav-item a[href] {
    color: var(--text-color);
    border-bottom: none;
    text-decoration: none;
    transition: color var(--theme-transition-duration) ease,
        border var(--theme-transition-duration) ease,
        outline-offset 0.2s ease;
}

.nav-item a[href]:hover {
    color: var(--primary-color);
    border-bottom: 0.1875em solid var(--primary-color);
}

.nav-item-active a[href] {
    font-weight: 700;
    border-bottom: 0.1875em solid var(--text-color);
    pointer-events: none;
}