{% from "partials/header.njk" import header %}
{% from "partials/footer.njk" import footer %}

<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <!-- Serve CSS inline on prod for performance -->
    {%- css %}{% include "src/css/reset.css" %}{% endcss %}
    {%- css %}{% include "src/css/index.css" %}{% endcss %}
    {%- css %}{% include "src/css/code.css" %}{% endcss %}
    {%- css %}{% include "src/css/colorSlideAnimation.css" %}{% endcss %}
    {%- css %}{% include "src/css/footer.css" %}{% endcss %}
    {%- css %}{% include "src/css/link.css" %}{% endcss %}
    {%- css %}{% include "src/css/header.css" %}{% endcss %}
    {%- css %}{% include "src/css/posts.css" %}{% endcss %}
    {%- css %}{% include "src/css/scrollbar.css" %}{% endcss %}
    {%- css %}{% include "src/css/themePicker.css" %}{% endcss %}
    {%- if eleventy.env.runMode === "serve" %}
      <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    {%- else  %}
      <style>
        {% getBundle "css" %}
      </style>
    {%- endif %}

    <!-- Needed to prevent FOUS -->
    <script>
      if (localStorage.theme) 
        document
          .documentElement
          .setAttribute("data-theme", localStorage.theme);
    </script>
  </head>
  <body>
    {{ header(collections.all, page.url) }}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {{ footer() }}
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>