{% from "partials/header.njk" import header %}
{% from "partials/footer.njk" import footer %}

<!doctype html>
<!-- If you want the source code, you should go to 
https://github.com/sivakusayan/blog, since the CSS and JavaScript are
currently minified. -->
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="https://use.typekit.net/osn2dtq.css">

    <!-- Serve CSS inline on prod for performance -->
    {%- css %}{% include "src/css/reset.css" %}{% endcss %}
    {%- css %}{% include "src/css/index.css" %}{% endcss %}
    {%- css %}{% include "src/css/header.css" %}{% endcss %}
    {%- css %}{% include "src/css/footer.css" %}{% endcss %}
    {%- css %}{% include "src/css/links.css" %}{% endcss %}
    {%- css %}{% include "src/css/print-styles.css" %}{% endcss %}
    {%- css %}{% include "src/css/high-contrast.css" %}{% endcss %}
    {%- if eleventy.env.runMode === "serve" %}
      <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    {%- else  %}
      <style>
        {% getBundle "css" %}
      </style>
    {%- endif %}

    <!-- Needed to prevent FOUS -->
    <script>
      if (localStorage.theme) 
        document
          .documentElement
          .setAttribute("data-theme", localStorage.theme);
    </script>
  </head>
  <body>
    {{ header(collections.all, page.url) }}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {{ footer() }}
    {% js %}{% include "src/scripts/printing.js" %}{% endjs %}
    {% js %}{% include "src/scripts/theming.js" %}{% endjs %}
    {% js %}{% include "src/scripts/email-encryption.js" %}{% endjs %}
    <!-- Serve JS inline on prod for performance -->
    {%- if eleventy.env.runMode === "serve" %}
      <script src="{% getBundleFileUrl "js" %}"></script>
    {%- else  %}
      <script>
        {% getBundle "js" %}
      </script>
    {%- endif %}
  </body>
</html>