---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% from "partials/comment.njk" import comment %}

<div>
  <div class="post-content">
    <div class="post-header">
      {%- if collections.posts | isTodayLearnedPost(page) %}
        <h1 id="Skip">TIL: {{ title }}</h1>
      {%- else %}
        <h1 id="Skip">{{ title }}</h1>
      {% endif %}
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
    {{ content | safe | withTableOfContents | withDetails | withCodeBlockCompressor}}
  </div>
  <a class="back-to-top" href="#Skip">Go back to top &ShortUpArrow;</a>
</div>

<hr>

<div>
<h2>Comments</h2>
 
 {%- if (staticmanEntries | length) > 0 %}
   <ul class="comments">
   {%- for entry in staticmanEntries | reverse %}
    <li>{{ comment(entry) }}</li>
   {%- endfor %}
   </ul>
 {%- else %}
 <p>No comments just yet!</p>
 {%- endif %}
 
 <h3>Add a comment</h3>
{% include "partials/addComment.njk" %}
</div>
