---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div>
  <div class="post-content">
    <div class="post-header">
      <h1 id="Skip">{{ title }}</h1>
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
    {{ content | safe }}
  </div>
  <a class="back-to-top" href="#Skip">Go back to top &ShortUpArrow;</a>
</div>

<div>
  {%- if collections.posts %}
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
      <hr>
      <ul class="post-chain">
        {%- if nextPost %}
          <li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
          </li>
        {% endif %}
        {%- if previousPost %}
          <li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
          </li>
        {% endif %}
      </ul>
    {%- endif %}
  {%- endif %}
</div>