{% from "partials/themePicker.njk" import themePicker %}

{% macro header(collection) %}
    <header>
        <div class="header-wrapper">
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <ul class="nav">
                {%- for entry in collection | eleventyNavigation%}
                    <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            </ul>

            {{ themePicker() }}
        </div>
    </header>
{% endmacro %}