button {
    background-color: transparent;
    outline-offset: 20px;
    color: inherit;
    border: 1.5px solid currentColor;
    padding: 0.5rem 1rem;
    border-radius: 2px;

    transition: color 0.1s, background-color 0.1s, border-color 0.1s, outline 0.1s, outline-offset 0.1s;
}

button:hover {
    border: 1.5px solid var(--primary-color);
    background-color: var(--primary-background-color);
    color: var(--text-color);
    cursor: pointer;
}

button:focus {
    outline: 5px solid var(--primary-color);
    outline-offset: 7px;
}