pre,
code {
  font-family: var(--font-family-monospace);
  font-size: 0.8em;
  line-height: 1.5;
  background: var(--code-background-color);
  color: var(--text-color);
  font-weight: var(--code-font-weight);

  transition: color var(--theme-transition-duration) ease,
    background-color var(--theme-transition-duration) ease;
}

code {
  word-break: break-all;
  border-radius: 0.15rem;
  padding: 0.15rem;
}

pre {
  --eleventy-code-padding: 1.25em;
  padding: 1em var(--eleventy-code-padding);
  margin: .5em 0;

  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border-radius: 0.2rem;
}

/*--------------------------------------------------------------------------------------------------------------
Third party styles used by Prism.
https://prismjs.com 
--------------------------------------------------------------------------------------------------------------*/

code,
pre {
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  margin: .5em 0;
  overflow: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #75715e;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #fd971f;
}

.token.property {
  color: #f4bf75;
}

.token.tag {
  color: #66d9ef;
}

.token.string {
  color: #a1efe4;
}

.token.selector {
  color: #ae81ff;
}

.token.attr-name {
  color: #fd971f;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a1efe4;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #a6e22e;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #a1efe4;
}

.token.placeholder,
.token.variable {
  color: #66d9ef;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #f92672;
}

.token.entity {
  cursor: help;
}

pre>code.highlight {
  outline: 0.4em solid #f92672;
  outline-offset: .4em;
}

/*
 * New diff- syntax
 */
.token.deleted {
  background-color: hsl(0, 51%, 37%);
}

.token.inserted {
  background-color: hsl(126, 31%, 39%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--eleventy-code-padding);
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, .2);
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
  display: block;
  margin-left: calc(-1 * var(--eleventy-code-padding));
  margin-right: calc(-1 * var(--eleventy-code-padding));
  text-decoration: none;
  /* override del, ins, mark defaults */
  color: inherit;
  /* override del, ins, mark defaults */
}