.color-slide-container {
  position: relative;
}

.color-slide .text-above {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.color-slide {
  display: inline-block;
  margin-bottom: 2rem;
}

.color-slide .text-above::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 1.25rem;
  height: 0px;
  bottom: -1.25rem;
  animation: 0.2s grow 0.5s, 0.15s slide 1s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  100% {
    height: 1.25rem;
  }
}

@keyframes slide {
  100% {
    width: 105%;
  }
}

/** This is when the landing page header breaks onto two lines.
    Increase the width to make it more dramatic 
    (since the line would stop earlier without this). */
@media only screen and (max-width: 450px) {
  @keyframes slide {
    100% {
      width: 115%;
    }
  }
}

/** Any smaller than this and the animation just looks weird. */
@media only screen and (max-width: 230px) {
  .color-slide .text-above {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .color-slide .text-above::before {
    animation: none;
    height: 20px;
    width: 105%;
  }
}