footer {
    border-top: 1px solid var(--color-gray-20);
    min-height: 5em;
    display: flex;
}

.footer-wrapper {
    margin: auto;
    padding: 0.5em 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a[href]:not(:last-child) {
    margin-right: 0.5em;
}

@media only screen and (max-width: 400px) {
    .footer-wrapper {
        padding: 1em 0;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }
}