footer {
    min-height: 5rem;
    display: flex;
    padding: 0 var(--website-padding);
    align-items: end;
}

.footer-wrapper {
    padding: 0.5em var(--website-content-padding);
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a[href]:not(:last-child) {
    margin-right: 0.5rem;
}

@media only screen and (max-width: 630px) {
    .footer-wrapper {
        padding: 1rem var(--website-content-padding);
        flex-direction: column;
        gap: 1.5rem;
    }
}