header {
    min-height: 5em;
    position: relative;
    padding: 0 var(--website-padding);
}

.skip-link-wrapper {
    position: absolute;
    left: -10000px;
    z-index: 2;
    background-color: var(--background-color);
    padding: 1rem;
}

.skip-link-wrapper:focus-within {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-56%);
}

@media only screen and (max-width: 1350px) {
    header {
        position: unset;
    }

    .skip-link-wrapper:focus-within {
        border: 1px solid var(--text-color);
        border-radius: 0.1rem;
        top: 0;
        left: 0;
        transform: none;
    }
}

nav {
    padding: 0.5em var(--website-content-padding);
    margin: auto;
}

/* Nav */
.nav {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 1em;
}

.nav-item a[href] {
    color: var(--text-color);
    border-bottom: none;
    text-decoration: none;
    transition: color var(--theme-transition-duration) ease,
        border var(--theme-transition-duration) ease,
        outline-offset 0.2s ease;
}

.nav-item a[href]:hover {
    color: var(--primary-color);
    border-bottom: 0.1875em solid var(--primary-color);
}

.nav-item-active a[href] {
    font-weight: 700;
    border-bottom: 0.1875em solid var(--text-color);
    pointer-events: none;
}