header {
    height: 4rem;
    position: relative;
    display: flex;
    margin-bottom: var(--large-spacing);

    background-color: var(--header-background-color);
    color: var(--header-text-color);
}

header ul {
    display: flex;
    list-style: none;
    gap: var(--spacing);
    padding: 0;
    margin-left: -0.5rem;
}

header a[href] {
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 0.25rem 0.5rem;

    color: var(--header-text-color);
    text-decoration: none;
}

header a[href]:hover {
    color: var(--text-color);
}

nav {
    width: 62ch;
    margin: auto;
    display: flex;
    align-items: center;
}

nav .active {
    border-bottom: 2px solid currentColor;
    margin-bottom: -2px;
    cursor: default;
    pointer-events: none;
}

@media only screen and (max-width: 620px) {
    nav {
        width: auto;
        margin: 0;
        padding: 0 var(--medium-spacing);
    }
}