header {
	height: 4rem;
	position: relative;
	display: flex;
	margin-bottom: var(--large-spacing);
}

header ul {
	display: flex;
	list-style: none;
	gap: var(--spacing);
	padding: 0;
	margin-left: -0.5rem;
}

header a[href] {
	display: inline-block;
	display: flex;
	justify-content: center;
	padding: 0.25rem 0.5rem;
}

header nav {
	width: var(--max-content-width);
	margin: auto;
	display: flex;
	align-items: center;
}

header nav .active {
	outline: var(--active-outline-width) solid currentColor;
    outline-offset: 0px;
	cursor: default;
	pointer-events: none;
}

header nav .active a[href] {
    text-decoration: none;
}

@media only screen and (max-width: 660px) {
	header nav {
		width: auto;
		margin: 0;
		padding: 0 var(--medium-spacing);
	}
}
