:root {
	--tiny-spacing: calc(var(--spacing) / 8);
	--small-spacing: calc(var(--spacing) / 2);
	--semi-medium-spacing: calc(var(--spacing) * 1.5);
	--medium-spacing: calc(var(--spacing) * 2);
	--largeish-spacing: calc(var(--spacing) * 3);
	--large-spacing: calc(var(--spacing) * 4);

	/* We unfortunately cannot use ch units to define the width here, as
   that causes flash of unstyled fonts with web fonts. Just hardcode it for now.*/
	--max-content-width: 40rem;
}

:root {
	color-scheme: light;

	--text-color: #121212;
	--background-color: #fcfcfc;

	--footer-text-color: #f5f3f3;
	--footer-background-color: #171717;

	--primary-color: #0074bd;
	--primary-background-color: #e4f6fe;
	--primary-background-active-color: #b3defa;

	--inline-code-background-color: #e1e5ff;
	--code-background-color: #011627;

	--comment-background-color: #f6f6ff;
	--comment-border-width: 2px;

	--header-line-height: 1.1;
	--paragraph-line-height: 1.32;
	--spacing: 1rem;
	--hover-outline-width: 3px;
	--active-outline-width: 2px;
}

/* Need this hack as chrome doesn't support CSS variables in ::selection */
/* Furthermore, we need to set selection color opacity to 0.99 for this bug in Safari:
https://github.com/w3c/csswg-drafts/issues/6853
*/
::selection {
	background-color: rgb(18, 18, 18, 0.99);
	color: rgb(245, 243, 243, 0.99);
}

footer ::selection,
pre ::selection {
	background-color: rgb(245, 243, 243, 0.99);
	color: rgb(18, 18, 18, 0.99);
}

html[data-theme='DARK'] {
	color-scheme: dark;

	--text-color: #c7c7c4;
	--background-color: #141415;

	--footer-text-color: #c7c7c4;
	--footer-background-color: #09090a;

	--primary-color: #1a77ad;
	--primary-background-color: var(--footer-background-color);
	--primary-background-active-color: #02304b;

	--inline-code-background-color: #0a0a0a;
	--code-background-color: #0a0a0a;
	--code-border-color: #3e3e3e;

	--comment-background-color: #161616;
	--comment-border-width: 1px;

	--header-line-height: 1.15;
	--paragraph-line-height: 1.4;
	--spacing: 1.2rem;
	--hover-outline-width: 3px;
	--active-outline-width: 1.5px;
}

html[data-theme='DARK'] ::selection {
	background-color: rgb(215, 215, 215, 0.99);
	color: rgb(6, 6, 6, 0.99);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--text-color: #c7c7c4;
		--background-color: #141415;

		--footer-text-color: #c7c7c4;
		--footer-background-color: #09090a;

		--primary-color: #1a77ad;
		--primary-background-color: var(--footer-background-color);
		--primary-background-active-color: #02304b;

		--inline-code-background-color: #0a0a0a;
		--code-background-color: #0a0a0a;
		--code-border-color: #3e3e3e;

		--comment-background-color: #161616;
		--comment-border-width: 1px;

		--header-line-height: 1.15;
		--paragraph-line-height: 1.4;
		--spacing: 1.2rem;
		--hover-outline-width: 3px;
		--active-outline-width: 1.5px;
	}

	::selection {
		background-color: rgb(215, 215, 215, 0.99);
		color: rgb(6, 6, 6, 0.99);
	}

	html[data-theme='LIGHT'] {
		color-scheme: light;

		--text-color: #121212;
		--background-color: #fcfcfc;

		--footer-text-color: #f5f3f3;
		--footer-background-color: #171717;

		--primary-color: #0074bd;
		--primary-background-color: #e4f6fe;
		--primary-background-active-color: #b3defa;

		--inline-code-background-color: #e1e5ff;
		--code-background-color: #011627;

		--comment-background-color: #f6f6ff;
		--comment-border-width: 2px;

		--header-line-height: 1.1;
		--paragraph-line-height: 1.32;
		--spacing: 1rem;
		--hover-outline-width: 3px;
		--active-outline-width: 2px;
	}

	html[data-theme='LIGHT'] ::selection {
		background-color: rgb(18, 18, 18, 0.99);
		color: rgb(245, 243, 243, 0.99);
	}

	html[data-theme='LIGHT'] footer ::selection,
	html[data-theme='LIGHT'] pre ::selection {
		background-color: rgb(245, 243, 243, 0.99);
		color: rgb(18, 18, 18, 0.99);
	}
}

html {
	font-family: 'source-sans-pro', sans-serif;
	font-style: normal;
	line-height: var(--paragraph-line-height);
}

em,
cite {
	font-style: italic;
	font-family: 'source-serif-pro', serif;
}

b {
	font-weight: 700;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.05;
	outline: none;
	word-wrap: break-word;
}

h2,
h3 {
	margin-top: var(--largeish-spacing);
	margin-bottom: var(--spacing);
}

h2 a,
h2 a code,
h3 a {
	text-decoration: none;
	color: inherit;
	line-height: var(--header-line-height);
}

li.postlist-item h2 {
	margin-top: var(--spacing);
	margin-bottom: var(--small-spacing);
	font-weight: 500;
}
li.postlist-item p {
	margin-bottom: var(--tiny-spacing);
}
li.postlist-item h2 a {
	text-decoration: underline;
}
li.postlist-item time {
	font-size: 90%;
	font-style: italic;
}
p.postlist-preamble {
	margin-bottom: var(--largeish-spacing);
}

h1 {
	font-size: 2.5rem;
	letter-spacing: -0.6px;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: -0.3px;
}

h3 {
	font-size: 1.1rem;
}

h2 span,
h3 span {
	font-weight: 700;
	line-height: var(--header-line-height);
}

html {
	background-color: var(--background-color);
	color: var(--text-color);

	transition:
		background-color 0.2s,
		color 0.1s;
	scroll-behavior: smooth;
}

html,
body {
	scrollbar-gutter: both;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	width: var(--max-content-width);
	margin: auto;
}

p {
	margin-bottom: var(--spacing);
}

li {
	margin-top: var(--tiny-spacing);
}

button {
	background-color: transparent;
	outline-offset: 20px;
	color: inherit;
	border: 1.5px solid currentColor;
	padding: 0.5rem 1rem;
	border-radius: 2px;

	transition:
		color 0.1s,
		background-color 0.1s,
		border-color 0.1s,
		outline 0.1s,
		outline-offset 0.1s;
}

button:hover {
	border: 1.5px solid var(--primary-color);
	background-color: var(--primary-background-active-color);
	color: var(--text-color);
	cursor: pointer;
}

button:focus {
	outline: 5px solid var(--primary-color);
	outline-offset: 7px;
}

input:focus,
textarea:focus {
	outline: 5px solid var(--primary-color);
	outline-offset: 7px;
}

button[aria-pressed='true'] {
	background-color: var(--footer-text-color);
	color: var(--footer-background-color);
	border: 1.5px solid var(--footer-background-color);
	cursor: initial;
}

main:not(.tmpl-post) h1 {
	margin-bottom: var(--medium-spacing);
}

pre,
code {
	border-radius: 5px;
	font-size: 90%;
}

.header-anchor {
	position: relative;
}

.anchor {
	position: absolute;
	top: 0.24rem;
	left: -1.5rem;
}

@media only screen and (max-width: 620px) {
	main {
		max-width: unset;
		margin: 0;
		padding: 0 var(--medium-spacing);
	}

	.post-content details,
	.post-content details[open],
	.post-content details[open] .details-content {
		width: auto;
	}

	.anchor {
		left: -1.2rem;
	}
}

@media only screen and (max-width: 850px) {
	:root {
		font-size: 100%;
	}
	main {
		width: auto;
		margin: 0;
		padding: 0 var(--medium-spacing);
	}
	header nav {
		width: auto;
		margin: 0;
		padding: 0 var(--medium-spacing);
	}
}

@media only screen and (max-width: 450px) {
	main {
		padding: 0 var(--spacing);
	}
	header nav {
		padding: 0 var(--spacing);
	}

	.anchor {
		position: relative;
		left: unset;
		top: unset;

		display: inline-block;
		margin-left: var(--small-spacing);
	}
}

@media only screen and (max-width: 350px) {
	ul {
		padding-left: var(--spacing);
	}

	ul.post-chain {
		flex-direction: column;
		gap: var(--spacing);
	}
}

/** If script is disabled, we can't use javascript to make scrollable areas focusable.
For those users, we'll just wrap the code instead. */
.script-disabled code {
	text-wrap: wrap;
}

.script-disabled .hide-script-disabled {
	display: none;
}

:not(pre) > code {
	padding: var(--tiny-spacing);
	background-color: var(--inline-code-background-color);
}
