:root {
    --spacing: 1rem;
    --medium-spacing: calc(var(--spacing) * 2);
    --large-spacing: calc(var(--spacing) * 4);
}

:root {
    --text-color: #121212;
    --background-color: #f5f3f3;

    --code-background-color: #e3e3e3;

    --header-text-color: #f5f3f3;
    --header-background-color: #171717;

    --footer-text-color: #f5f3f3;
    --footer-background-color: #171717;

    --primary-color: #0097F5;
    --primary-background-color: #9bd7fd;
}

html[data-theme="DARK"] {
    --text-color: #acaabd;
    --background-color: #0f0f10;

    --code-background-color: #020202;

    --header-text-color: #acaabd;
    --header-background-color: #050505;

    --footer-text-color: #acaabd;
    --footer-background-color: #09090a;

    --primary-color: #07659C;
    --primary-background-color: #02304b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #9d9bad;
        --background-color: #0f0f10;

        --code-background-color: #020202;

        --header-text-color: #acaabd;
        --header-background-color: #09090a;

        --footer-text-color: #acaabd;
        --footer-background-color: #09090a;

        --primary-color: #07659C;
        --primary-background-color: #02304b;
    }

    html[data-theme="LIGHT"] {
        --text-color: #121212;
        --background-color: #f5f3f3;

        --code-background-color: #e3e3e3;

        --header-text-color: #f5f3f3;
        --header-background-color: #171717;

        --footer-text-color: #f5f3f3;
        --footer-background-color: #171717;

        --primary-color: #0097F5;
        --primary-background-color: #9bd7fd;
    }
}

* {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 133%;
    scroll-behavior: smooth;
}

em {
    font-weight: 400;
    font-style: italic;
    font-family: "source-serif-pro", serif;
}

b {
    font-weight: 700;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.05;
    outline: none;
}

h2,
h3 {
    margin-top: var(--large-spacing);
    margin-bottom: var(--spacing);
}

h2 a,
h3 a {
    text-decoration: none;
    color: inherit;
    line-height: 1.1;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h2 span,
h3 span {
    font-weight: 700;
    line-height: 1.1;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);

    transition: background-color 0.2s, color 0.1s;
}

html,
body {
    scrollbar-gutter: both;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    max-width: 60ch;
    margin: auto;
}

p {
    margin-bottom: var(--spacing);
}

.post-header {
    margin-bottom: var(--large-spacing);
}

main:not(.tmpl-post) h1 {
    margin-bottom: var(--spacing);
}

pre,
code {
    font-family: monospace;
    background-color: var(--code-background-color);
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.1s;
}

pre {
    padding: var(--spacing);
}

details {
    margin: var(--medium-spacing) 0;
    border: 1.5px solid var(--text-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.1s, outline 0.1s, outline-offset 0.1s;
    outline-offset: 12px;
    border-radius: 2px;
}

.post-content details {
    width: 45ch;
}

.details-grouper {
    margin: var(--medium-spacing) 0;
    list-style: none;
    padding: 0;
}

.details-grouper details {
    margin: var(--spacing) 0;
}

details[open] {
    width: 60ch;
}

details[open] summary {
    margin-bottom: var(--spacing);
}

details:has(summary:hover) {
    background-color: var(--primary-background-color);
    border: 1.5px solid var(--primary-color);
    cursor: pointer;
}

details summary {
    outline: none;
}

details:has(summary:focus-visible) {
    outline: 4px solid var(--primary-color);
    outline-offset: 1px;
}

dt {
    font-weight: 700;
}

dd {
    padding-left: var(--spacing);
}

hr {
    margin: var(--medium-spacing) 0;
}

::selection {
    background-color: #134d6f;
    color: white;
}

.postlist {
    list-style: none;
    padding: 0;
}

.postlist li {
    margin-bottom: var(--spacing);
}

.tidbits li {
    margin-top: var(--medium-spacing);
}

.tidbits a {
    margin-bottom: var(--spacing);
}

ul.post-chain {
    list-style: none;
    padding: 0;
}

.post-chain li {
    font-weight: bold;
}