/* Defaults */
:root {
  --font-family: -apple-system, system-ui, sans-serif;
  --font-family-monospace: Courier, monospace;
  --theme-transition-duration: 0.2s;
  --website-content-max-width: 43rem;
  --website-content-padding: 5rem;
  --website-side-padding: 4rem;

  font-size: calc(0.9375rem + 0.3vw);
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #C0C0C0;
  --color-gray-90: #333;

  --primary-color: #BC2F86;
  --secondary-color: #d11288;
  --background-color: #fff;
  --cta-background-color: #FAEAF8;
  --details-background-color: #fff6fe;

  --text-color: var(--color-gray-90);
  --text-color-link: #082840;
  --text-color-link-visited: #696969;

  --svg-hover-stroke-width: 3px;
  --link-underline-width: 1.5px;

  --code-background-color: #d8d6d6;
  --code-font-weight: bold;
}

html[data-theme="DARK"] {
  --color-gray-20: #393939;
  --color-gray-50: #C0C0C0;
  --color-gray-90: #cfcfcf;

  --primary-color: #D35AA5;
  --secondary-color: #b2267c;
  --background-color: #1c1d22;
  --cta-background-color: #15161a;
  --details-background-color: var(--cta-background-color);

  --text-color: var(--color-gray-90);
  --text-color-link: #c8c8d1;
  --text-color-link-visited: #868688;

  --svg-hover-stroke-width: 2px;
  --link-underline-width: 1px;

  --code-background-color: #272822;
  --code-font-weight: initial;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #393939;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #cfcfcf;
  
    --primary-color: #D35AA5;
    --secondary-color: #b2267c;
    --background-color: #1c1d22;
    --cta-background-color: #15161a;
    --details-background-color: var(--cta-background-color);
  
    --text-color: var(--color-gray-90);
    --text-color-link: #c8c8d1;
    --text-color-link-visited: #868688;
  
    --svg-hover-stroke-width: 2px;
    --link-underline-width: 1px;
  
    --code-background-color: #272822;
    --code-font-weight: initial;
  }

  html[data-theme="LIGHT"] {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #333;

    --primary-color: #BC2F86;
    --secondary-color: #d11288;
    --background-color: #fff;
    --cta-background-color: #fdf0fb;
    --details-background-color: #fff6fe;

    --text-color: var(--color-gray-90);
    --text-color-link: #082840;
    --text-color-link-visited: #696969;

    --svg-hover-stroke-width: 3px;
    --link-underline-width: 1.5px;

    --code-background-color: #d8d6d6;
    --code-font-weight: bold;
  }
}


/* Global stylesheet */
* {
  box-sizing: border-box;
}

/* TODO: Investigate why color variable isn't respected on Chrome in ::selection. */
::selection {
  color: white;
  background-color: #d11288;
}
html[data-theme="DARK"] ::selection{
  background-color: #b2267c;
}
@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #b2267c;
  }
  html[data-theme="LIGHT"] ::selection{
    background-color: #d11288;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100%;
  transition: color var(--theme-transition-duration) ease, background var(--theme-transition-duration) ease;
}

body {
  padding: 0.25em var(--website-side-padding);
}

p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.35;
}

details p {
  line-height: 1.4;
}

main {
  max-width: var(--website-content-max-width);
  margin: auto;
}

main>* {
  padding: 0 var(--website-content-padding);
  margin-top: 2rem;
}

main>*:last-child {
  margin-bottom: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

dt {
  font-weight: bold;
}

ul,
dd {
  padding-inline-start: 2rem;
}

em {
  font-family: serif;
}

abbr {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

#landing {
  position: relative;
  background-color: var(--cta-background-color);
  border-radius: 20px;
  padding-top: 3rem;
  padding-bottom: 4rem;
  transition: background-color var(--theme-transition-duration);
}

/* This will ensure things are NOT removed from the AX tree.
We need to keep their semantics around to make sure interaction
works as expected. However, for the sake of more powerful styling,
we will need to hide them. 
https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2 {
  margin-bottom: 0.3rem;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
}

p:not(:last-child) {
  margin-bottom: 0.5rem;
}

li:not(:last-child) {
  margin-bottom: 0.3rem;
}

.tidbits-container {
  margin-top: 2rem;
}

.tidbits-container li:not(:last-child) {
  margin-bottom: 2rem;
}

.tidbits-link-wrapper {
  display: inline-block;
  margin-bottom: 0.2rem;
}

#landing h1 {
  font-size: clamp(3rem, 3rem + 1.2vw, 4.7rem);
  line-height: 1;
  margin-bottom: 5rem;
}

.responsive-display {
  display: none;
}

@media only screen and (max-width: 870px) {
  :root {
    --website-side-padding: 2rem;
    --website-content-padding: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --website-side-padding: 1rem;
    --website-content-padding: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    --website-content-padding: 1.5rem;
  }

  .responsive-display {
    display: initial;
  }

  #landing h1 {
    font-size: clamp(2rem, 2rem + 2vw, 3.5rem);
    margin-bottom: 4rem;
  }

  ul,
  dd {
    padding-inline-start: 1.5rem;
  }

  li:not(:last-child) {
    margin-bottom: 0.4em;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --website-content-padding: 1rem;
    --website-side-padding: 0rem;
  }

  #landing {
    border-radius: 0;
  }
}

@media only screen and (max-width: 300px) {
  :root {
    font-size: 80%;
  }
}