a[href] {
  color: var(--text-color-link);
  display: inline;
  text-decoration: none;
  border-bottom: var(--link-underline-width) solid var(--text-color-link);
  transition: color var(--theme-transition-duration) ease,
    border-width 0.1s ease,
    outline-offset 0.2s ease;

  outline: 3px solid transparent;
  outline-offset: 5px;
}

a[href]:visited:not(.ignore-visited-styling, .direct-link, .header-anchor) {
  color: var(--text-color-link-visited);
  border-color: var(--text-color-link-visited);
}

a[href]:hover {
  color: var(--primary-color) !important;
  border-bottom: 0.3em solid var(--primary-color) !important;
}

a[href]:focus-visible {
  outline: 3.5px solid var(--primary-color);
  outline-offset: 2px;
}

:target {
  scroll-margin-top: 30px;
  animation: 0.7s highlight;
}

a.back-to-top {}

a.skip-link {
  position: absolute;
  left: -10000px;
  z-index: 2;
}

a.skip-link:focus {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-65%);
}


@keyframes highlight {
  0% {
    outline: 8px solid var(--primary-color);
    outline-offset: 20px;
  }

  70% {
    outline-offset: 5px;
    outline: 8px solid var(--primary-color);
  }

  100% {
    outline: 8px solid transparent;
  }
}

@media (prefers-reduced-motion: reduce) {
  :target {
    outline-offset: 10px;
    /* TODO: Currently the CSS reset disables all animations in reduced motion.
      Maybe we should be a bit more granular here. */
    animation: 0.7s highlight-reduced !important;
  }

  @keyframes highlight-reduced {
    0% {
      outline: 8px solid transparent;
    }

    35% {
      outline: 8px solid var(--primary-color);
    }

    70% {
      outline: 8px solid var(--primary-color);
    }

    100% {
      outline: 8px solid transparent;
    }
  }
}