/* Posts list */
.postlist {
    list-style: none;
    padding: 0;
}

.postlist-item {
    line-height: 1.8;
}

.postlist-date {
    font-size: 0.8125em;
    /* 13px /16 */
    color: var(--color-gray-90);
    word-spacing: -0.5px;
}

.post-header {
    margin-bottom: 4rem;
}

.tmpl-post p {
    margin-bottom: 0.6rem;
}

details[open] p:last-child {
    margin-bottom: 0;
}

.tmpl-post p:last-child {
    margin-bottom: 3rem;
}

.post-content p:first-child::first-letter {
    color: var(--secondary-color);
    float: left;
    font-family: Georgia;
    font-size: 3em;
    line-height: 0.75em;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

/* It seems the markdown-it-anchor library will focus
a heading after it's activated in attempts to make
screen readers read it. We already show an animation
when a permalink header is followed, so I don't think
this is necessary (headings aren't even interactive). */
h2,
h3,
h4,
h5,
h6 {
    outline: none;
}

h2 a[href].header-anchor,
h3 a[href].header-anchor,
h4 a[href].header-anchor,
h5 a[href].header-anchor,
h6 a[href].header-anchor {
    color: var(--text-color);
}

h2 {
    margin-top: 3.5rem;
    margin-bottom: 0.8rem;
}

.tmpl-post *:not(h2)+h3,
.tmpl-post *:not(h3)+h4,
.tmpl-post *:not(h4)+h5,
.tmpl-post *:not(h5)+h6 {
    margin-top: 3rem;
}

h2+h3 {
    margin-top: 1rem;
}

aside {
    margin-top: 2rem;
}

details {
    background-color: var(--cta-background-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin-bottom: 0.6rem;
    padding: 0 1.5rem;

    transition: color var(--theme-transition-duration) ease,
        outline 0.2s ease;
}

details summary {
    padding: 1rem 0;
    cursor: pointer;
    outline: none;
    transition: margin var(--theme-transition-duration) ease;
}

details summary:hover {
    margin-left: 0.2rem;
}

details:focus-within {
    outline: 4px solid var(--primary-color);
    outline-offset: 6px;
}

@supports selector(details:has(summary:focus-visible)) {
    details {
        transition: color var(--theme-transition-duration) ease,
            outline-offset 0.2s ease;
        outline-offset: 10px;
    }

    details:focus-within {
        outline: unset;
        outline-offset: unset;
    }

    details:has(summary:focus-visible) {
        outline: 4px solid var(--primary-color);
        outline-offset: 6px;
    }
}

details:has(summary:focus-visible) {
    outline: 4px solid var(--primary-color);
    outline-offset: 6px;
}

details[open] {
    padding-bottom: 1.5rem;
}

/* Direct Links / Markdown Headers */
a[href].header-anchor {
    border-bottom: none;
}

.anchor {
    font-family: sans-serif;
    text-decoration: none;
    font-style: normal;
    margin-left: .3em;
}