aside {
	margin: var(--medium-spacing) 0;
	padding: var(--spacing);
	border: 1.5px solid var(--text-color);
	border-top: 5px solid;
	border-radius: 2px;
}

aside *:last-child {
	margin-bottom: 0;
}

aside a {
	word-wrap: break-word;
}

blockquote {
    margin-bottom: var(--spacing);
	padding-left: var(--spacing);
	border-left: 8px solid var(--text-color);
    font-style: italic;
}

.tree {
	margin: var(--medium-spacing) 0;
}

.tree,
.tree ul {
	list-style: none;
	padding-left: 0px;
	padding-top: 0px;
	position: relative;
}

.tree ul {
	margin-left: var(--large-spacing);
}

.tree ul::before {
	position: absolute;
	bottom: 0;
	left: 0px;
	content: ' ';
	height: calc(100% + (var(--tiny-spacing)));
	width: 1px;
	border-left: 1.5px solid var(--text-color);
}

.tree ul li {
	padding-top: var(--small-spacing);
}

.tree span {
	border: 1.5px solid var(--text-color);
	padding: 5px;
	width: 7rem;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
}

.ax-node {
	margin: var(--spacing) 0;
	border: 1.5px solid var(--text-color);
	border-radius: 2px;
}

.ax-node p {
	border-bottom: 1.5px solid var(--text-color);
	padding: var(--small-spacing) var(--spacing);
	margin-bottom: 0;
}

.ax-node dl {
	padding: var(--small-spacing) var(--spacing);
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	margin: var(--spacing) 0;
}

th,
td {
	padding: var(--small-spacing);
	border: 1.5px solid var(--text-color);
}

caption {
	text-align: left;
	font-weight: bold;
	margin-bottom: var(--small-spacing);
}
.tags {
	font-size: 90%;
	list-style: none;
	display: flex;
	gap: var(--small-spacing);
	padding-left: 0;
	flex-wrap: wrap;
}

.tags a[href] {
	padding: 0 var(--small-spacing);
	border-radius: 20px;

	text-decoration: none;
	background-color: var(--footer-background-color);
	color: var(--footer-text-color);
	outline-offset: 16px;
}

.tags a[href]:hover {
	color: var(--text-color);
}

.tags a[href]:focus {
	outline-offset: 2px;
}

html[data-theme='DARK'] .tags a[href] {
	border: 1.5px solid currentColor;
}
html[data-theme='DARK'] .tags a[href]:hover {
	border-color: transparent;
}

@media (prefers-color-scheme: dark) {
	.tags a[href] {
		border: 1.5px solid currentColor;
	}
	.tags a[href]:hover {
		border-color: transparent;
	}
	html[data-theme='LIGHT'] .tags a[href] {
		border: none;
	}
}

.post-content details {
	margin: var(--medium-spacing) 0;
	transition:
		border-color 0.2s,
		width 0.1s;
}

.post-content details summary {
	border: 1.5px solid var(--text-color);
	border-top: 5px solid;
	padding: var(--spacing);
	transition:
		background-color 0.2s,
		border-color 0.2s,
		color 0.1s,
		outline 0.1s,
		outline-offset 0.1s;
	outline-offset: 32px;
	border-radius: 2px;
}

.post-content details[open] {
	border: 1.5px solid var(--text-color);
	border-top: 0px;
}

.post-content details[open] summary {
	border-right: none;
	border-left: none;
}

.post-content details {
	width: 45ch;
}

.post-content .details-grouper {
	margin: var(--medium-spacing) 0;
	list-style: none;
	padding: 0;
}

.post-content .details-grouper details {
	margin: var(--spacing) 0;
}

.post-content details[open] {
	width: 60ch;
}

.post-content details[open] .details-content {
	margin: var(--small-spacing) 0;
	padding: var(--small-spacing) var(--spacing);
	width: 60ch;
}

.post-content details[open] .details-content *:last-child {
	margin-bottom: 0;
}

.post-content summary:hover {
	background-color: var(--primary-background-active-color);
	cursor: pointer;
}

@media only screen and (max-width: 620px) {
	.post-content details,
	.post-content details[open],
	.post-content details[open] .details-content {
		width: auto;
	}
}

pre[class*='language-'] {
	transition:
		background-color 0.2s,
		color 0.1s,
		outline 0.1s,
		outline-offset 0.1s;
	outline-offset: 30px;
	margin-top: var(--semi-medium-spacing);
	margin-bottom: var(--semi-medium-spacing);
}

pre:focus-visible,
.post-content summary:focus {
	outline: 5px solid var(--primary-color);
	outline-offset: 5px;
}

dt {
	margin-top: var(--tiny-spacing);
	font-weight: 700;
}

dd {
	padding-left: var(--spacing);
}

hr {
	margin: var(--largeish-spacing) 0;
}

.postlist {
	list-style: none;
	padding: 0;
}

.postlist li {
    position: relative;
	margin-bottom: var(--spacing);

    display: flex;
    flex-direction: column;

    border-left: 3px solid var(--text-color);
    padding-left: var(--spacing);
}

.postlist li a[href] {
    font-size: 100%;
}

.postlist li a[href]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.post-header {
	margin-bottom: var(--medium-spacing);
}

img {
	border: 2px solid var(--text-color);
	border-radius: 5px;
}

/*=======================================
 * Comments
 *======================================*/

ul.comments {
	padding-left: 0;
	list-style: none;
}

.blog-comment-wrapper {
    border-left-width: 0px;
    padding-left: 0px;
    font-style: inherit;
}

.blog-comment {
    background-color: var(--comment-background-color);
	border: var(--comment-border-width) solid var(--text-color);
	padding: var(--spacing);
    border-radius: 5px;
}

ul.comments li.comment-list-item:not(:first-child) {
	margin-top: var(--semi-medium-spacing);
}

ul.comments .comment-header {
	margin-bottom: var(--spacing);
	display: flex;
	justify-content: flex-start;
	gap: var(--small-spacing);
	flex-wrap: wrap;
}

.comments p:last-child {
	margin-bottom: 0;
}

.comments cite {
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
}

.comments ul.subcomments {
    list-style: none;
    margin-left: var(--semi-medium-spacing);
}

.comments ul.subcomments li {
	margin-top: var(--spacing);
}

.comments .reply-container {
    margin-top: var(--spacing);
    display: inline-block;
}

.comments details[open] {
    width: 100%;
}

.comments summary {
	transition:
        background-color 0.1s,
		outline 0.1s,
		outline-offset 0.1s;
	outline-offset: 12px;
    padding: var(--small-spacing);
    border: 2px solid var(--text-color);
    background-color: var(--inline-code-background-color);
    font-size: 90%;
}

.comments summary:focus {
	outline: 5px solid var(--primary-color);
	outline-offset: 5px;
}

.comments summary:hover {
	background-color: var(--primary-background-active-color);
	cursor: pointer;
}

.comments form {
    padding: var(--spacing);
}

input {
    width: 20rem;
}

input,
textarea {
	border-radius: 2px;
	border: 1.5px solid var(--text-color);
	padding: var(--small-spacing);
	display: block;
	margin-bottom: var(--spacing);

	outline-offset: 15px;
	transition:
		color 0.1s,
		background-color 0.1s,
		border-color 0.1s,
		outline 0.1s,
		outline-offset 0.1s;
}

input:focus,
textarea:focus {
	outline: 5px solid var(--primary-color);
	outline-offset: 4px;
}

form.comment-form textarea {
	height: 10rem;
}

form.comment-form textarea {
	width: 100%;
}

form.comment-form button {
	margin-top: var(--spacing);
}

dialog {
    width: var(--max-content-width);
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background-color: var(--comment-background-color);
    color: var(--text-color);
}

dialog h1 {
    font-size: 1.5rem;
    margin-bottom: var(--spacing);
    border-radius: 1px;
    outline-offset: 15px;
    transition: outline .15s, outline-offset .15s;
}

dialog h1:focus {
	outline: 5px solid var(--primary-color);
    outline-offset: 5px;
}

dialog::backdrop {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

button[data-dialog] {
    position: relative;
}


/*=======================================
 * MathJax
 *======================================*/

.CtxtMenu_Menu {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    box-shadow: 0px 2px 5px #808080 !important;
}

math {
    font-style: inherit;
    font-weight: inherit;
}

/**
 * Sad attempt to right-justify the QED box.
 * Good enough I guess.
 */
.qed {
    float: right;
}
