select {
    width: 10rem;
    background-color: var(--background-color);
    color: var(--text-color);
    appearance: none;

    transition: color var(--theme-transition-duration) ease,
    background-color 0.1s ease,
    outline-offset 0.2s ease;
    border: 1px solid var(--color-gray-90);

outline: 3px solid transparent;
outline-offset: 5px;

padding: 5px 10px;
border-radius: 10px;
}

select:focus-visible {
    outline: 3.5px solid var(--primary-color);
    outline-offset: 2px;
}

.select-wrapper {
    position: relative;
  }
  
  .select-wrapper::after {
    content: "▼";
    font-size: 0.7em;
    top: 11px;
    right: 20px;
    position: absolute;
  }