.theme-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    height: 2.5em;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    width: fit-content;

    /* Needed for focus styles */
    outline: 3px solid transparent;
    outline-offset: 10px;
    transition: outline-offset 0.2s ease;
}

.theme-picker .radio-container {
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color var(--theme-transition-duration) ease;
    border-radius: 2px;
}

.theme-picker label {
    display: inline-block;
    padding: 0.25em 0.75em;
    cursor: pointer;
}

.theme-picker svg {
    transition: stroke var(--theme-transition-duration) ease, stroke-width var(--theme-transition-duration) ease;
}

svg:hover {
    stroke: var(--primary-color);
    stroke-width: var(--svg-hover-stroke-width);
}

/* Distinguish the selected theme */
.theme-picker .radio-container[data-checked="true"] {
    background-color: var(--text-color);
}

.theme-picker .radio-container[data-checked="true"] label {
    cursor: default;
    pointer-events: none;
}

.theme-picker .radio-container[data-checked="true"] label svg {
    stroke: var(--background-color);
    transition: stroke var(--theme-transition-duration) ease;
}

/* Since the radio button is hidden, 
focus style the container instead */
.theme-picker:has(input:focus-visible) {
    outline: 3px solid var(--primary-color);
    outline-offset: 5px;
}