---
title: About Me - Sayan Sivakumaran
layout: layouts/base.njk
permalink: /about-me/
eleventyNavigation:
  key: About Me 
  order: 3
---

<h1 id="Skip">About Me</h1>
<p>Hello!</p> 
<p>My name is Sayan Sivakumaran, and I'm a software developer currently writing notification systems
with Clojure at <a href="https://www.singlewire.com/">Singlewire Software</a>. In the past, I used
to:
</p>

<ul>
  <li>Briefly be an active open source contributor to the accessibility module of Blink, the rendering engine for <a href="https://www.chromium.org/Home/">Chromium</a>.</li>
  <li>Work on healthcare software at <a href="https://www.epic.com/">Epic Systems</a>.</li>
</ul>

I'm generally interested in the intersection of mathematics and computer science, although I realize
that's not very specific! I'm currently trying to learn more about:
<ul>
<li><strong>Analysis:</strong> While I did study mathematics in undergrad, I never took anything higher than Analysis
1, in favor of more algebraic subjects like commutative algebra. I'm only now starting to realize
how useful analysis is, so I'm hoping to refresh my knowledge and learn more about it!</li>
<li><strong>Computer Systems Performance:</strong> Making things go faster is always fun. I
unfortunately don't have the statistics background to do well-designed performance experiments myself.
Hoping that learning statistics from a mathematically rigorous point of view will help me do
that!
</li>
</ul>
