---
title: About Me - Sayan Sivakumaran
layout: layouts/base.njk
permalink: /about-me
eleventyNavigation:
  key: About Me 
  order: 3
---

<h1 id="Skip">About Me</h1>
<p>Hello!</p> 
<p>My name is Sayan Sivakumaran, and I'm a software developer currently writing notification systems
with Clojure at <a href="https://www.singlewire.com/">Singlewire Software</a>.
I briefly used to be an active open source contributor to the accessibility module of Blink, the rendering
engine for <a href="https://www.chromium.org/Home/">Chromium</a>.

<p>Currently, my primary interests are:</p>
<ul>
<li>Writing high performance code, particularly on x86 platforms</li>
<li>Security, particularly binary exploitation</li>
<li>Accessibility on the web</li>
</ul>
