---
title: Accessibility Statement 
layout: layouts/base.njk
permalink: /accessibility/
---
 
 <h1 id="Skip">Accessibility Statement</h1>

 <p>
    One of the reasons I blog is because I love to share weird niche things I learned, and
    to hopefully find other people with similar interests. It would be dissapointing if
    accessibility issues got in the way of that. 
 </p>

 <p>
    This site is committed to providing an experience that functions for the widest possible audience, regardless of technology or ability.
    I strive to meet the <a href="https://www.w3.org/TR/WCAG22/">WCAG 2.2 level AA guidelines</a> by default. If, for some reason, you actually
    care about my content (thank you!) and need certain level AAA accommodations, please <a href="mailto:sivakusayan@gmail.com">email me</a> and 
    we can figure something out.
 </p>

 <p>
    Of course, I'm human and I make mistakes. I use <code>pa11y-ci</code> and aXe scans to help add some level of
    automation, and I try to test this website on Chromium, Firefox, and Safari. If you find any
    issues I missed, please <a href="mailto:sivakusayan@gmail.com">email me</a> or write a <a
    href="https://github.com/sivakusayan/blog/issues">Github issue</a> so we can get it resolved.
 </p>

<h2>Known Issues</h2>
<ul>
    <li>
    <p>
        The MathJax context menu does not show up while using the "Comment Preview" functionality in
        the comment form. This is because the context menu implementation does not seem to account for
        HTML dialog elements. As a workaround, you can still access the context menu on math present
        in the blog post itself, or on other users' comments.
    </p>
    </li>
    <li>
    <p>
        Long MathJax equations do not break onto multiple lines. This is <a
        href="https://docs.mathjax.org/en/latest/output/linebreaks.html">not
        yet supported in MathJax version 3.</a>
    </p>
    </li>
</ul>
