---
title: Sayan Sivakumaran - Blog
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
---

<div>
<h1 id="Skip">Latest posts</h1>
{% set postslist = collections.posts %}
{% include "partials/postslist.njk" %}
</div>