---
title: Blog - Sayan Sivakumaran
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
---

<h1 id="Skip">Latest posts</h1>
{% set postslist = collections.posts | getRegularPosts %}
{% include "partials/postslist.njk" %}