---
title: Comment Error
layout: layouts/base.njk
permalink: /comment-error/
eleventyExcludeFromCollections: true
---
 
 <h1 id="Skip">Uh-oh...</h1>
 
 <p>
     Something went wrong while submitting your comment. Could you please try again?
     <span class="hide-script-disabled">Your original comment should still be drafted.</span>
 </p>
