---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div>
  <h1 id="Skip" class="huge">
    Sayan <br> Sivakumaran
  </h1>
  <p>Hello! I'm a software developer with around 3 years of experience doing full stack development. I currently work for <a href="https://www.singlewire.com/">Singlewire</a>, where we write emergency notification systems using React and Clojure.</p>
  <p>In the past, I used to be an infrequent contributor to the <a href="https://www.chromium.org/chromium-projects/">Chromium project</a>, primarily in the accessibility module of Blink. You can <a href="https://chromium-review.googlesource.com/q/Sayan+Sivakumaran+status:%22MERGED%22">see my work here</a>, if you like.</p>
  <p>My open source work has been put on pause for now. I'm currently spending the majority of my time learning systems programming, as I start to transition away from my primarily front-end web development background. 🙂</p>
</div>

<div>
  <h2>Recent blog posts</h2>
  {% set postslist = collections.posts | getRegularPosts | limit(3) %}
  {% include "partials/postslist.njk" %}
</div>

<div>
  <h2>Recent TILs (Today I Learned)</h2>
  {% set postslist = collections.posts | getTodayLearnedPosts | limit(3) %}
  {% include "partials/postslist.njk" %}
</div>