---
permalink: /tags/
layout: layouts/base.njk
---
<h1 id="Skip">Tags</h1>

<ul class="tags">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
