---
permalink: posts/tags/
layout: layouts/base.njk
---
<h1 id="Skip">Blog post tags</h1>

<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/posts/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>