---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Posts tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1 id="Skip">Posts tagged “{{ tag }}”</h1>

{% set postslist = collections[tag] %}
{% include "partials/postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>