{% from "partials/addComment.njk" import addComment %}

{% macro comment(entry, fileSlug) %}
<blockquote id="{{ entry._id }}">
   <div class="comment">
       <div class="comment-header">
         <cite>{{ entry.name }}</cite>
         •
         <time datetime="{{ entry.date | htmlDateString}}">{{ entry.date | dateOnly}} at {{ entry.date | timeOnly}}</time>
         <a class="comment-anchor" href="#{{ entry._id }}">Permalink</a>
       </div>
       <p>
         {{ entry.message }} 
       </p>

   {%- if (entry.children | length) > 0 %}
         <details class="reply-container">
            <summary>Add Reply</summary>
            {{ addComment(entry._id, fileSlug) }}
         </details>
   {%- endif %}
   </div>
   {%- if (entry.children | length) > 0 %}
   <ul class="subcomments">
     {%- for childEntry in entry.children %}
     <li>{{ comment(childEntry) }}</li>  
     {%- endfor %}
   </ul>
   {%- endif %}
 </blockquote>
{% endmacro %} 
