{% from "partials/themePicker.njk" import themePicker %}

{% macro footer() %}
    <footer>
        <div class="footer-wrapper">
            <div class="social-media">
                <a href="https://github.com/sivakusayan">Github</a>
                <a href="https://www.linkedin.com/in/sayan-sivakumaran-a70763239/">Linkedin</a>
            </div>
            {{ themePicker() }}
        </div>
    </footer>
{% endmacro %}