{% macro footer() %}
    <footer>
        <div class="footer-wrapper">
            <span>Powered by <a href="https://www.11ty.dev">Eleventy</a>.</span>
            <div class="social-media">
                <a href="https://github.com/sivakusayan">{% lucide "github", { "aria-label": "Github" } %}</a>
                <a href="https://www.linkedin.com/in/sayan-sivakumaran-a70763239/">{% lucide "linkedin", { "aria-label": "LinkedIn" } %}</a>
            </div>
        </div>
    </footer>
{% endmacro %}