{% from "partials/themePicker.njk" import themePicker %}

{% macro footer() %}
    <footer>
        <div class="footer-wrapper">
            <div class="social-media">
                <a href="https://github.com/sivakusayan">Github</a>
                <a href="https://www.linkedin.com/in/sayan-sivakumaran-a70763239/">Linkedin</a>
                <a href="/rss.xml">RSS</a>
            </div>
            {{ themePicker() }}
            <div>
<p>The cute favicon was made by <a href="https://www.freepik.com/search?author=15830015&authorSlug=catalyststuff&format=author&query=cactus%20">catalyststuff</a> on Freepik!</p>
                <p>If you find an issue on this site and you have the spoons, please <a href="https://github.com/sivakusayan/blog/issues">report it on Github</a>. </p>
            </div>
            <nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
                <h2 id="a11y-webring-club">a11y-webring.club</h2>
                <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
                <ul>
                    <li>
                        <a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous website</a>
                    </li>
                    <li>
                        <a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random website</a>
                    </li>
                    <li>
                        <a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next website</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
{% endmacro %}
