{% macro header(collection, pageUrl) %}
    <header>
        <div class="skip-link-wrapper">
            <a href="#Skip" class="skip-link" accesskey="s">Skip to content</a>
        </div>
        <nav>
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <ul class="nav">
                {%- for entry in collection | eleventyNavigation%}
                    <li 
                    class="{% if entry.url == pageUrl %}active{% endif %}"
                    {% if entry.url == pageUrl %} aria-current="true"{% endif %}
                    >
                        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>
    </header>
{% endmacro %}