<ul class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <h2><a href="{{ post.url | url }}" class="postlist-link">
        {{post.data.title}}
      </a></h2>
        <p>{{post.data.description}}</p>
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | shortReadableDate }}</time>
    </li>
  {% endfor %}
</ul>
