{% macro themePicker() %}
<div class="theme-picker">
    <button id="light-theme-button" aria-pressed="false">Light Theme</button>
    <button id="dark-theme-button" aria-pressed="false">Dark Theme</button>
    <button id="system-theme-button" aria-pressed="false">Default Theme</button>
</div>
{% endmacro %}